.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.app__headerImage {
  object-fit: contain;
  width: 30px;
}
